[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
pyotp = "*"
atlassian-python-api = "*"
toml = "*"
hiredis = "*"
redis = "*"
flask-assets = "*"
webassets = "*"
cssmin = "*"
pyscss = "*"
gunicorn = "*"
flask-apscheduler = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
flask-httpauth = "*"

[dev-packages]
black = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
