<li>
  <header>
    <div link="link">
      <a href="{{ config.JIRA_URL }}/browse/{{ item.issue.key }}" rel="noreferrer" target="_blank">{{ item.issue.key }}</a>
    </div>
    <div>{{ item.issue.summary }}</div>
  </header>
  <section {% if not isValid %} not-valid="not-valid" {% endif %}>
      <div>
      <div>
        {% if item.result %}
          <span label="label">Approved</span>
        {% else %}
          <span label="label">Failed</span>
        {% endif %}
      </div>
      <div error="error">
        {% if item.result %}
          {{item.timestamp.strftime('%c')}}
        {% else %}
        {{ item.error|join(', ') }}
        {% endif %}
      </div>
    </div>
    <div>
      <div issue-status="issue-status">
        {{ item.status }}
        <span issue-assignee="issue-assignee">{{ item.assignee.name }}</span>
      </div>
      {% if not isValid %}
        <div error="error">{{ item.errors|join(', ') }}</div>
      {% endif %}
    </div>

  </section>
</li>
