{% set isValid = item.isValid %}
<li>
  <header>
    <div link="link">
      <a href="{{ config.JIRA_URL }}/browse/{{ item.key }}" rel="noreferrer" target="_blank">{{ item.key }}</a>
    </div>
    <div>{{ item.summary }}</div>
  </header>
  <section {% if not isValid %} not-valid="not-valid" {% endif %}>
    <div>
      <div issue-status="issue-status">
        {{ item.status }}
        <span issue-assignee="issue-assignee">{{ item.assignee.name }}</span>
      </div>
      {% if not isValid %}
        <div error="error">{{ item.errors|join(', ') }}</div>
      {% endif %}
    </div>
    <div>
      <div>
        {% if item.job %}
          <span label="label">Scheduled</span>{{item.job.next_run_time.strftime('%H:%M %A')}}
        {% else %}
          Stalled
        {% endif %}
      </div>
      <div>
        <span label="label">From</span>
        {{ item.returnTo.name }}
        ({{item.returnTo.email}})
      </div>
    </div>
    <div actions>
      <a class="btn btn-ghost">
        <i class='cap-icon ci-refresh'></i>
      </a>
      <a class="btn btn-ghost"  href="{{ url_for( 'jira.archive', key=item.key, type='waiting' ) }}">
        <i class='cap-icon ci-times'></i>
      </a>
    </div>
  </section>
</li>
